//when changing height, also apply to App.scss .App
.footer {
  width: 100%;
  height: 8rem;
  padding: 1rem 0;
  background-color: #101010;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  box-shadow: 0 2.5rem 1rem -2rem black inset;
}

.footer-content {
  margin: auto;
  max-width: 1280px;
  height: 100%;
  display: flex;
}

.footer-content-links {
  padding: 1rem;
  display: flex;
  flex: 2 0;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-content-links > * {
  display: block;
  width: auto;
}

.footer img {
  height: 100%;
  margin: auto;
}
.footer a {
  color: antiquewhite;
  text-decoration: none;
}
