//https://flatuicolors.com/palette/defo?fbclid=IwAR1b4ryzHzuw_PO6_Ni7_VwvLmkU_sXDyAorK8vrThTBFvkU74nrTidNeG4
//https://www.icolorpalette.com/download/shades/f4f0e8_color_shades.jpg
$primary-bg: #27ae60;
$primary-fg: #2ecc71;
$secondary-bg: #16a085;
$secondary-fg: #1abc9c;

$important-bg: #d35400;
$important-fg: #e67e22;
$error-bg: #c0392b;
$error-fg: #e74c3c;

$whiteish-bg: #bdc3c7;
$whiteish-fg: #ecf0f1;
$grayish-bg: #7f8c8d;
$grayish-fg: #95a5a6;

$dark-bg: #2c3e50;
$dark-fg: #34495e;

$old-paper-dark: #B99566;
$old-paper: #C7A575;
$old-paper-light: #D5B78D;