.pagination-buttons {
  padding-bottom: 3rem;
}

.pagination-buttons-bottom {
  padding-top: 5rem;
}

.pagination-btn {
  font-size: large;
  margin: 0 0.3rem;
  background-color: #cfae8b;
  border: solid 1px saddlebrown;
  cursor: pointer;
  user-select: none;
  min-width: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.pagination-btn:hover {
  background-color: rgba(#8f5922, 0.6);
}

.pagination-btn:disabled {
  color: black;
  background-color: darkgray;
  border: solid 1px gray;
}

.pagination-btn-selected {
  background-color: rgba(#8f5922, 0.8);
}

.pagination-btn-selected:hover {
  background-color: rgba(#8f5922, 0.8);
}
